<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Terceiro Gestor</title>
    <!-- Tailwind CSS -->
    <link href="/public/assets/css/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div id="app">
        <header-component></header-component>

        <!-- Conteúdo Principal -->
        <main class="min-h-screen bg-gradient-to-r text-gray-500">
            <div class="container mx-auto px-4 py-16">
                <div class="text-center mb-12">
                    <h1 class="text-5xl font-bold mb-4">Bem-vindo ao Terceiro Gestor</h1>
                    <p class="text-lg">
                        Transformando a gestão de projetos sociais com tecnologia e inovação.
                        Junte-se a nós para criar um impacto positivo no mundo!
                    </p>
                </div>
                <div class="text-center mb-12">
                    <h4 class="text-3xl font-bold mb-4">Descrição do projeto</h4>
                    <p class="text-lg">
                    Um sistema de gestão focado no terceiro setor, automatizando seus processos de gestão e
                    transparência. As instituições sociais carecem de um sistema que o acompanhe desde sua abertura até
                    sua ascensão. Como um diferencial no mercado, além de fornecer recursos gratuitos para instituições
                    sociais que o auxiliam do início ao fim, teremos um sistema com uma centralização de dados sociais
                    públicos, dados que são transparentes que podem ser utilizados para análises de dados sociais e
                    territoriais, auxiliando todo o terceiro setor nas suas tomadas de decisões, seus projeção e futuras
                    ações sociais.
                    </p>
                </div>
            </div>
        </main>

        <footer-component></footer-component>
    </div>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <!-- App.js -->
    <script src="/public/assets/js/app.js"></script>
</body>

</html>